:root {
  --clr-primary: hsl(47, 88%, 63%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(0, 0%, 50%);
  --clr-black: hsl(0, 0%, 7%);

  --fs: 16px;
}

body {
  display: flex;
  min-height: 100vh;
  place-content: center;
  font-family: 'Figtree', sans-serif;
  background-color: var(--clr-primary);
  font-size: var(--fs);
}

main {
  margin: auto;
}

.container {
  display: flex;
  margin: auto;
  flex-direction: column;
  overflow: hidden;
  max-width: 1440px;
  border: 1px solid var(--clr-black);
  background-color: var(--clr-white);
  border-radius: 20px;
  padding: 25px;
  width: 375px;
  box-shadow: 8px 8px;
}

.content {
  margin: 0 auto;
}

.main-image {
  border-radius: 10px;
  margin-bottom: 20px;
}

.learning-text {
  background-color: var(--clr-primary);
  padding: 5px;
  width: 25%;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.title {
  font-size: 21px;
  font-weight: 800;
  margin: 15px 0;
}

.title:hover {
  cursor: pointer;
  color: var(--clr-primary);
}

.paragraph-text {
  color: var(--clr-grey);
  margin-bottom: 25px;
}

.author {
  display: flex;
}

.author-image {
  height: 32px;
  width: 32px;
}

.author p {
  display: flex;
  font-weight: bold;
  margin-left: 10px;
  align-items: center;
}
